@import "styles/variables";

.navbar-nav .nav-link {
  font-weight: bold;
  color: #fff;
  font-size: 16px;

  &.active {
    color: $secondary !important;
  }
}

// .hoverable-row:hover td {
//   background-color: #961010 !important; 
// }