@import "styles/variables";

.navbar-nav .nav-link {
  font-weight: bold;
  color: #fff;
  font-size: 16px;

  &.active {
    color: $secondary !important;
  }
}

.hoverable-row:hover td {
  background-color: $secondary !important; 
  opacity: 0.5;
}

.striped-row {
  background-color: #580d0d !important /* light gray */
}

.smile-success .smile{
  color: $success !important;
}

.smile-warning .smile{
  color: $secondary !important;
}

.smile-danger .smile{
  color: $danger !important;
}